<!DOCTYPE html>

<html data-ng-app="weatherApp">
	<head>
	     <meta charset="utf-8" /> 
	     <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <title> Weather forecast applicaton </title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="countries.min.json">  </script>
		<link href="http://www.w3schools.com/lib/w3.css" rel="stylesheet" />
	</head>
    <body>
	    <div class="w3-container w3-pale-blue">
		
			<div data-ng-controller="MainController" id="current-weather-div" class="w3-center">
				<h1> {{ title }}</h1>
				<div class="w3-card-12 w3-quarter w3-round-xlarge"> 
					<div id="countryDiv"> Country: {{ country }} </div>
					<div id="coordDiv"> Coordinates: ({{ coords.latitude }}°, {{coords.longitude}}°) </div>
					<div >  {{ weatherData.temp | celsius }}</div>
					<div class="w3-center"> 
						<img data-ng-src="{{iconURL}}" alt="{{weather_desc}}" title="{{weather_desc}}" /> 
					</div>
					<p> {{weather_desc}} </p>
					
				</div>
			</div>
				
			<div style="clear: both"> </div>
			
			<div  data-ng-controller="ForecastController" id="forecast-div"> 
				<h2> 
					Forecast of the next 
					<input type="number" value="{{ daysCount }}" ng-model="daysCount" min="1" max="{{  numberOfDays }}" > </input> 
					days 
				</h2>
				
				<div data-ng-repeat="weather in allDayWeather">
					<div class="forecast-day" ng-hide="isHidden($index)" class="w3-col">
						<div class="w3-card-12 w3-quarter w3-margin w3-padding w3-round-large">
							At day: {{ weather.dayTemp | celsius }} <br />
							At night: {{ weather.nightTemp | celsius}} <br />
							<img data-ng-src="{{weather.iconURL}}" alt="{{weather.weather_desc}}" title="{{weather.weather_desc}}" /> <br /> {{weather.weather_desc}} 
						</div> 
					</div>
					
				</div>
			</div>
			
		</div>
		 <!-- Application js -->
		 <script src="app.js"> </script>
	 
		 <script src="MainController.js"> </script>
		 <script src="ForecastController.js"> </script>
		 <script src="getCoordsService.js">  </script>
		 
	</body>
</html>
